manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    output = 'results'
    threads = "4"
    mem = "8"
  
    reads = ''
    reference = ''
    annotation = ''
    sortmerna_db = ''
    index = ''
  
    strand = '0'
    mode = 'single'
  
    // folder structure
    output = 'results'
    trimming_dir = '01-Trimming'
    mapping_dir = '02-Mapping'
    counting_dir = '03-Counting'
    diff_dir = '04-Differential_Expression'

    help = false
}

profiles {

    standard {
        process.executor = 'local'
        docker { enabled = false }
        process {
            withName:trimming { container = 'nanozoo/fastp:0.20.0--093b790' }
            withName:index { container = 'nanozoo/hisat2:2.1.0--c6f93d9'}
            withName:mapping { container = 'nanozoo/hisat2:2.1.0--c6f93d9'}
            withName:counting { container = 'nanozoo/subread:1.6.4--2d9a656'}
        }
    }
}
