manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    output = 'results'
    cores = "4"
    memory = "8"

    profile = false
    help = false

    // input
    reads = ''
    species = 'eco'
    sortmerna_db = ''
    index = ''
  
    // parameters
    strand = '0'
    mode = 'single'
  
    // folder structure
    output = 'results'
    trimming_dir = '01-Trimming'
    mapping_dir = '02-Mapping'
    counting_dir = '03-Counting'
    annotation_dir = '04-Annotation'
    diff_dir = '05-DifferentialExpression'
}

profiles {

    standard {
        params.cloudProcess = false
        params.cloudDatabase = false
        process.executor = 'local'
        docker { enabled = false }
    }
}
