manifest {
    mainScript = 'main.nf'
}

// default parameters
params {
    output = 'results'
    cores = "4"
    memory = "8"

    profile = false
    help = false

    // input
    reads = ''
    species = 'eco'
    sortmerna_db = ''
    index = ''
  
    // parameters
    strand = '0'
    mode = 'single'
  
    // folder structure
    output = 'results'
    scripts_dir = 'scripts'
    fastp_dir = '01-Trimming/fastp'
    hisat2_dir = '02-Mapping/hisat2'
    featurecounts_dir = '03-Counting/featurecounts'
    annotation_dir = '04-Annotation'
    deseq2_dir = '05-DifferentialExpression/deseq2'
}

profiles {

    standard {
        params.cloudProcess = false
        params.cloudDatabase = false
        process.executor = 'local'
        docker { enabled = false }
    }
}
