workDir = params.workdir

process {
    withLabel: hisat2 { conda = "$baseDir/envs/hisat2.yaml" } 
    withLabel: python3 { conda = "$baseDir/envs/python3.yaml" } 
    withLabel: deseq2 { conda = "$baseDir/envs/deseq2.yaml" } 
    withLabel: fastp { conda = "$baseDir/envs/fastp.yaml" } 
    withLabel: fastqc { conda = "$baseDir/envs/fastqc.yaml" } 
    withLabel: subread { conda = "$baseDir/envs/subread.yaml" } 
    withLabel: multiqc { conda = "$baseDir/envs/multiqc.yaml" } 
    withLabel: sortmerna { conda = "$baseDir/envs/sortmerna.yaml" } 
}