process {
    withLabel:	hisat2	{ conda = "$baseDir/envs/hisat2.yaml" } 
    withLabel:	minimap2	{ conda = "$baseDir/envs/minimap2.yaml" } 
    withLabel:	python3	{ conda = "$baseDir/envs/python3.yaml" } 
    withLabel:	deseq2	{ conda = "$baseDir/envs/deseq2.yaml" } 
    withLabel:	webgestalt	{ conda = "$baseDir/envs/webgestalt.yaml" } 
    withLabel:	fastp	{ conda = "$baseDir/envs/fastp.yaml" } 
    withLabel:	fastqc	{ conda = "$baseDir/envs/fastqc.yaml" } 
    withLabel:	nanoplot	{ conda = "$baseDir/envs/nanoplot.yaml" } 
    withLabel:	subread	{ conda = "$baseDir/envs/subread.yaml" } 
    withLabel:	multiqc	{ conda = "$baseDir/envs/multiqc.yaml" } 
    withLabel:	sortmerna	{ conda = "$baseDir/envs/sortmerna.yaml" } 
    withLabel:	trinity	{ conda = "$baseDir/envs/trinity.yaml" } 
    withLabel:	stringtie	{ conda = "$baseDir/envs/stringtie.yaml" } 
    withLabel:	busco	{ conda = "$baseDir/envs/busco.yaml" } 
    withLabel:	basic_tools	{ conda = "$baseDir/envs/basic_tools.yaml" }
    withLabel:	dammit	{ conda = "$baseDir/envs/dammit.yaml" }
    withLabel:	rattle	{ container = "huxleys/rattle:1.0.0--24021329c8b365f21959c56ee1cfb693c768c14e" }
    withLabel:	dammit	{ conda = "$baseDir/envs/dammit.yaml" }}