workDir = params.workdir

process {
    withLabel: hisat2 { conda = 'envs/hisat2.yaml' } 
    withLabel: python3 { conda = 'envs/python3.yaml' } 
    withLabel: deseq2 { conda = 'envs/deseq2.yaml' } 
    withLabel: fastp { conda = 'envs/fastp.yaml' } 
    withLabel: subread { conda = 'envs/subread.yaml' } 
    withLabel: multiqc { conda = 'envs/multiqc.yaml' } 
    withLabel: sortmerna { conda = 'envs/sortmerna.yaml' } 
}