process {
    withLabel: hisat2       { container = 'nanozoo/hisat2:2.1.0--66dae66' } 
    withLabel: minimap2     { container = 'nanozoo/minimap2:2.18--618fb68' } 
    withLabel: python3      { container = 'nanozoo/python_rnaseq:3.8--7a7808c' } 
    withLabel: deseq2       { container = 'nanozoo/deseq2:1.28.0--0df1612' } 
    withLabel: fastp        { container = 'nanozoo/fastp:0.20.0--78a7c63' } 
    withLabel: fastqc       { container = 'nanozoo/fastqc:0.11.8--fbfa1d7' } 
    withLabel: subread      { container = 'nanozoo/subread:2.0.1--713a8e7' } 
    withLabel: multiqc      { container = 'ewels/multiqc:v1.11' } //nanozoo/multiqc:1.9--aba729b old container
    withLabel: nanoplot     { container = 'nanozoo/nanoplot:1.38.0--11e5b96' }
    withLabel: sortmerna    { container = 'nanozoo/sortmerna:2.1b--ceea1a1' } 
    withLabel: trinity      { container = 'nanozoo/trinity:2.11.0--3354a71' } 
    withLabel: stringtie    { container = 'nanozoo/stringtie:2.1.2--93e41f1' } 
    withLabel: busco        { container = 'nanozoo/busco:3.0.2--40d1506' } 
    withLabel: dammit       { container = 'nanozoo/dammit:1.2--b47259e' } 
    withLabel: dammitDB     { container = 'nanozoo/dammit:1.2--b47259e' }
    withLabel: basic_tools  { container = 'nanozoo/python_rnaseq:3.8--7a7808c' }
}