process {
    withLabel: hisat2 { cpus = params.cores } 
    withLabel: minimap2 { cpus = params.cores } 
    withLabel: deseq2 { cpus = params.cores } 
    withLabel: webgestalt { cpus = params.cores } 
    withLabel: fastp { cpus = params.cores } 
    withLabel: fastqc { cpus = 1 } 
    withLabel: subread { cpus = params.cores } 
    withLabel: multiqc { cpus = params.cores } 
    withLabel: nanoplot { cpus = 4 }
    withLabel: sortmerna { cpus = params.cores } 
    withLabel: trinity { cpus = params.cores; memory = params.memory } 
    withLabel: stringtie { cpus = params.cores} 
    withLabel: busco { cpus = params.cores } 
    withLabel: dammit { cpus = params.cores }
    withLabel: smallTask { cpus = 1 }
}