workDir = params.workdir

executor {
    name = "local"
    cpus = params.max_cores
    memory = params.memory
}

process {
    withLabel: hisat2 { cpus = params.cores } 
    withLabel: python3 { cpus = 1 } 
    withLabel: deseq2 { cpus = params.cores } 
    withLabel: fastp { cpus = params.cores } 
    withLabel: subread { cpus = params.cores } 
    withLabel: multiqc { cpus = params.cores } 
    withLabel: sortmerna { cpus = params.cores } 
}