workDir = params.workdir

executor {
    name = "local"
    cpus = params.max_cores
    memory = params.memory
}

process {
    withLabel: hisat2 { cpus = params.cores ; conda = 'envs/hisat2.yaml' } 
    withLabel: python3 { cpus = 1 ; conda = 'envs/python3.yaml' } 
    withLabel: deseq2 { cpus = params.cores ; conda = 'envs/deseq2.yaml' } 
    withLabel: fastp { cpus = params.cores ; conda = 'envs/fastp.yaml' } 
    withLabel: subread { cpus = params.cores ; conda = 'envs/subread.yaml' } 
    withLabel: multiqc { cpus = params.cores ; conda = 'envs/multiqc.yaml' } 
    withLabel: sortmerna { cpus = params.cores ; conda = 'envs/sortmerna.yaml' } 
}
