process {
    withLabel: hisat2       { cpus = params.cores } 
    withLabel: python3      { cpus = 1 } 
    withLabel: deseq2       { cpus = params.cores; errorStrategy = 'retry';  maxRetries = 1 } 
    withLabel: fastp        { cpus = params.cores } 
    withLabel: fastqc       { cpus = 1 } 
    withLabel: subread      { cpus = params.cores } 
    withLabel: multiqc      { cpus = params.cores } 
    withLabel: sortmerna    { cpus = params.cores } 
    withLabel: trinity      { cpus = params.cores; memory = params.memory } 
    withLabel: stringtie    { cpus = params.cores} 
    withLabel: busco        { cpus = params.cores } 
    withLabel: dammit       { cpus = params.cores } 
    withLabel: dammitDB     { cpus = 1 }
}