process {   
    withLabel: hisat2 { cpus = 24 ; memory = { 24.GB * task.attempt } ; maxRetries = 3 ; errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' } }
    withLabel: deseq2 { cpus = 24 ; memory = { 12.GB * task.attempt } ; maxRetries = 2 ; errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' } }
    withLabel: fastp { cpus = 12 ; memory = '12 GB' }
    withLabel: fastqc { cpus = 1 ; memory = '2 GB' }
    withLabel: subread { cpus = 12 ; memory = '12 GB' }
    withLabel: sortmerna { cpus = 24 ; memory = '24 GB' }
    withLabel: trinity { cpus = 24 ; memory = '32 GB' }
    withLabel: stringtie { cpus = 24 ; memory = '32 GB' }
    withLabel: busco { cpus = 8 ; memory = '8 GB' } 
    withLabel: dammit { cpus = 42 ; memory = '42 GB' }
    withLabel: rattle { cpus = 32; memory = '32 GB' }
    withLabel: smallTask { cpus = 1; memory = '1 GB' }
}
