process {   
    withLabel: hisat2 { cpus = 48 ; memory = { 70.GB * task.attempt } ; maxRetries = 3 ; errorStrategy = { task.exitStatus in 134 ? 'retry' : 'terminate' } }
    withLabel: python3 { cpus = 1 } 
    withLabel: deseq2 { cpus = 1 ; memory = '40 GB'; errorStrategy = 'retry';  maxRetries = 1 }
    withLabel: fastp { cpus = 12 ; memory = '30 GB' }
    withLabel: fastqc { cpus = 1 ; memory = '2 GB' }
    withLabel: subread { cpus = 12 ; memory = '30 GB' }
    withLabel: sortmerna { cpus = 12 ; memory = '30 GB' }
    withLabel: trinity { cpus = 24 ; memory = '40 GB' }
    withLabel: stringtie { cpus = 24 ; memory = '40 GB' }
    withLabel: busco { cpus = 8 } 
    withLabel: dammit { cpus = 48 ; memory = '40 GB' } 
    withLabel: dammitDB { cpus = 1 }
}