workDir = params.workdir

executor {
    name = "slurm"
    queueSize = 100
    //exitReadTimeout = "360 sec"
    //submitRateLimit = '1 / 2 s'
    //pollInterval = '30 sec'
}
            
process {   
    cache = "lenient"
    //errorStrategy = "retry"
    //maxRetries = 1

            withLabel: hisat2 { cpus = 24; memory = '12 GB' ; conda = 'envs/hisat2.yaml' } 
            withLabel: python3 { cpus = 1; memory = '2 GB' ; conda = 'envs/python3.yaml' } 
            withLabel: deseq2 { cpus = 4; memory = '8 GB' ; conda = 'envs/deseq2.yaml' } 
            withLabel: fastp { cpus = 24; memory = '8 GB' ; conda = 'envs/fastp.yaml' } 
            withLabel: subread { cpus = 12; memory = '8 GB' ; conda = 'envs/subread.yaml' } 
            withLabel: multiqc { cpus = 8; memory = '4 GB' ; conda = 'envs/multiqc.yaml' } 
            withLabel: sortmerna { cpus = 24; memory = '12 GB' ; conda = 'envs/sortmerna.yaml' } 
}
