workDir = params.workdir

executor {
    name = "slurm"

    queueSize = 100
    // exitReadTimeout = "360 sec"
    // submitRateLimit = '1 / 2 s'
    // pollInterval = '30 sec'
}
            
process {   
    cache = "lenient"
    //errorStrategy = "retry"
    //maxRetries = 1
    withLabel: smallTask { executor = 'local' } 
}
